**/node_modules
**/.cache
build/
openrpc.json
refs-openrpc.json
data.json
schema.json
*.dic
.idea/
.docusaurus/
.DS_Store
.tool-versions
api_versioned_docs/
api_versioned_sidebars/
api_versions.json
docs-snapshot-*.tar.gz
