name: Test deployment

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - uses: actions/setup-go@v6
        with:
          go-version: ^1.25
        id: go

      - name: Install dependencies
        run: npm ci

      - name: Test build website
        run: |
          npm run build:spec
          npm run build:docs
