name: Test deployment

on:
  pull_request:
  workflow_dispatch:

jobs:
  test-deploy:    
    permissions:
      pages: write
      id-token: write
      contents: write

    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install --frozen-lockfile
      - name: Test build website
        run: |
          npm run build
          npm run build:docs
      - name: Deploy preview
        if: github.event.action != 'closed' 
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/docs/gatsby/public