name: Node.js CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 15.x
        uses: actions/setup-node@v1
        with:
          node-version: ^15.x
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Install staticcheck
        run: go install github.com/lightclient/rpctestgen/cmd/speccheck
      - name: Install staticcheck
        run: speccheck -v
